<div class="row">
  <div class="col-md-10 col-lg-8">
    <h1>Editing template</h1>
    <%= render "form", template: @template %>
    <div class="my-4">
      <%= link_to "Show this template", @template %> |
      <%= link_to "Back to templates", templates_path %>
    </div>
  </div>
</div>


