<div class="mb-2 row">
    <div class="col-auto"><label for="" class="pt-2">Duration</label></div>
    <div class="col-auto"><input type="number" class="form-control" min=0 placeholder="seconds" name="records[]duration"></div>
</div>