<%= turbo_frame_tag 'reps_only' do%>
    <%= form_with(model: record) do |f| %>
        <div class="row mb-2">
            <div class="col-auto">
                <%= f.label(:reps, class: 'col-form-label') %>
            </div>
            <div class="col-auto">
                <%= f.number_field(:reps, class: 'form-control', min: 1)%>
            </div>
        </div>
    <% end %>
<% end %>