<div class="row my-4">
    <div class="col-md-10 col-lg-8">
        <% unless @templates.blank?%>
            <div class="mb-4">
                <h5 class="mb-4">Select a template to start</h5>
                <div id="my_templates" class="row row-cols-1 row-cols-md-3 g-4">
                    <% @templates.each do |template| %>
                    <div class="col">
                        <%= render template %>
                    </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <p>No templates yet, click <%= link_to 'here', new_template_path%> to create one </p>
        <% end %>

    </div>

</div>