<div class="row">
  <div class="col-lg-8">
    <%= link_to "Workout", new_event_path, class: 'btn btn-outline-primary my-2'%>
    <div id="events" class="row row-cols-1 row-cols-md-3 g-4">
      <% @events.each do |event| %>
        <div class="col">
          <%= render event %>
        </div>
      <% end %>
    </div>
    <div class="row my-4">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>


