<div class="row">
  <div class="col-md-8">
    <h3 class="mb-4">Editing exercise</h3>
    <%= render "form", exercise: @exercise %>

    <div class="row">
      <div class="col">
        <%= link_to "Detail", @exercise, class: 'btn btn-outline-info'%>
      </div>
      <div class="col">
        <%= link_to "Back to exercises", exercises_path, class:"btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>



