<div class="w-50 mx-auto">
  <h3 class="my-4">New exercise</h3>

  <div class="my-4">
    <%= render "form", exercise: @exercise %>
  </div>

  <div class="my-4">
    <%= link_to "Back to exercises", exercises_path, class: 'btn btn-light'%>
  </div>
</div>