<div class="row my-4">
  <div class="col-md-10 col-lg-6 mx-auto">
    <%= render @exercise %>

    <div class="row my-4">
      <div class="col">
        <%= link_to "Edit this exercise", edit_exercise_path(@exercise), class: 'btn btn-outline-primary'%> 
      </div>
      <div class="col">
        <%= link_to "Back to exercises", exercises_path, class: 'btn btn-outline-dark'%>
      </div>
      <div class="col">
        <%= button_to "Destroy this exercise", @exercise, method: :delete, class: 'btn btn-outline-danger' %>
      </div>
    </div>

  </div>
</div>